  <ul><li>
  <h2>Categories</h2>
  <ul>
      <li><a href="/tags/linux.html">Linux</a></li>
      <li><a href="/tags/python.html">Python</a></li>
      <li><a href="/tags/django.html">Django</a></li>
      <li><a href="/tags/perl.html">Perl</a></li>
      <li><a href="/tags/ccplusplus.html">C/C++</a></li>
      <li><a href="/tags/vim.html">Vim</a></li>
      <li><a href="/tags/semicon.html">Semicon</a></li>
      <li><a href="/tags/windows.html">Windows</a></li>
      <li><a href="/tags/solaris.html">Solaris</a></li>
      <li><a href="/tags/virtualbox.html">VirtualBox</a></li>
      <li><a href="/tags/life.html">Life</a></li>
      <li><a href="/tags/misc.html">Misc</a></li>
</ul></li></ul>
